$primaryColor: #f3aa50;
$textColor: #333333;
$textColor2: #272727;
$secondaryTextColor: #8f8f8f;
$bgVariantColor: #f8f8f8;
$bgMainColor: #ffffff;
$colorOnPrimary: #ffffff;
$secondaryColor: #2377ff;
$inputBorderColor: #e1e1e1;
$linkColor: #006FBB;
$inputBorderFocusColor: #006FBB;

$inputBoderWidth: 2px;
$borderRadius: 5px;
$fullWidth: 100%;
