@import "themes";
@import "reset";
@import "components";
@import "layout";
@import "mixins";
@import "media";
@import "normalize";

body {
  color: $textColor;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-wrap: break-word;
  white-space: normal;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: top;
    padding: 0 16px 32px 16px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;

    @media only screen and (min-width: 768px) {
      padding: 0 0 2.5rem 0;
    }

    /* blue background*/
    .background-layer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      mix-blend-mode: multiply;
      background-color: $secondaryColor;
    }

    .logo {
      z-index: 10;
      margin-top: 30px;
      margin-bottom: 20px;

      @media only screen and (min-width: 768px) {
        margin-top: 65px;
        margin-bottom: 40px;
      }
    }

    /* Keep the card above the blended background */
    .main-card {
      display: flex;
      flex-direction: column;
      z-index: 10;
      background-color: $bgMainColor;
      width: 100%;
      border-radius: 5px;
      padding: 24px 16px;
      @include space-y(32px);

      @media only screen and (min-width: 768px) {
        flex-direction: row;
        width: 61.81vw;
        padding: 0;
        @include space-y(0);
      }

      .top-logos-container,
      .bottom-logos-container {
        @include space-y(8px);

        > p {
          color: $textColor2;
        }
      }

      .top-logos-container {
        display: none;

        @media only screen and (min-width: 768px) {
          display: block;
        }
      }

      .bottom-logos-container {
        @media only screen and (min-width: 768px) {
          display: none;
        }
      }

      .info-card {
        background-color: $bgMainColor;
        width: 100%;
        padding: 0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;

        @media only screen and (min-width: 768px) {
          padding: 40px 24px 40px 24px;
          background-color: $bgVariantColor;
          width: 42.82%;
          @include space-y(40px);
        }

        > div {
          @include space-y(10px);
        }

        > div {
          &:first-child {
            @include space-y(16px);

            @media only screen and (min-width: 768px) {
              @include space-y(28px);
            }
          }
        }

        .info-card-header {
          position: relative;
        }

        .info-card-header::after {
          @media only screen and (min-width: 768px) {
            content: "";
            position: absolute;
            bottom: -12px;
            left: 0;
            width: 68px;
            height: 4px;
            border-radius: 3px;
            background-color: $lineColor;
            z-index: 50;
          }
        }
      }

      .form-card {
        background-color: $bgMainColor;
        width: 100%;
        padding: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        @media only screen and (min-width: 768px) {
          padding: 40px 40px 120px 40px;
          width: 57.18%;
        }

        form {
          width: 100%;
          @include space-y(40px);

          .form-step {
            @include space-y(24px);
            visibility: hidden;
            margin-bottom: 0;
            height: 0;
            opacity: 0;
            transform: translateY(10%);
            transition: opacity 0.6s cubic-bezier(0.39, 0.575, 0.565, 1),
              transform 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);
          }

          .form-step.active {
            visibility: visible;
            height: auto;
            opacity: 1;
            transform: translateY(0%);
            margin-bottom: 40px;
          }

          .form-bottom {
            @include space-t(24px);

            @media only screen and (min-width: 768px) {
              @include space-t(32px);
            }
          }
        }
      }

      .logos-group {
        width: 10%;
        max-width: 100%;
        width: -moz-available;
        width: -webkit-fill-available;
        width: fill-available;
        height: auto;
      }
    }
  }

  .footer {
    align-self: center;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    width: 100%;

    #lg-footer-img {
      display: none;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      mix-blend-mode: multiply;
      background-color: $secondaryColor;

      @media only screen and (min-width: 768px) {
        display: block;
      }
    }

    #sm-footer-img {
      @media only screen and (min-width: 768px) {
        display: none;
      }
    }
  }

  input[type="text"],
  textarea,
  .radio-grouping > div,
  .radio-grouping > label,
  select {
    border: solid $inputBoderWidth $inputBorderColor;
    border-radius: $borderRadius;
    padding: 12px 16px;
    width: $fullWidth;
    font-family: "Public Sans";
    font-weight: 600;
    color: $textColor;
  }

  .radio-grouping > label {
    padding: 12px 24px;
  }

  .custom-select {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  .custom-select select {
    width: 100%;
    background: transparent; /* Remove default background */
    appearance: none; /* Remove default arrow */
    cursor: pointer;
  }

  .custom-select::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    width: 10px;
    height: 6px;
    background-image: url("/public/images/caret-down.png");
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateY(-50%);
    pointer-events: none;

    @media only screen and (min-width: 768px) {
      background-image: url("/public/images/caret-down-lg.png");
    }
  }

  label {
    font-weight: 600;
    font-family: "Public Sans";
    line-height: 21.5px;

    @media only screen and (min-width: 768px) {
      line-height: 27px;
    }
  }

  label.radio-wrapper,
  select,
  input[type="text"] {
    line-height: normal;
    height: 45px;
  }

  fieldset {
    display: flex;
    flex-direction: column;
    @include space-y(16px);
  }

  .primary-button {
    background-color: $primaryColor;
    color: $colorOnPrimary;
    font-weight: 700;
    font-size: 20px;
    width: $fullWidth;
    padding: 10px;
    height: 48px;
    border-radius: 5px;
    text-align: center;

    &:disabled {
      background-color: grey;
      cursor: not-allowed;
      opacity: 0.6;
    }
  }

  .grouping {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
  }

  textarea {
    min-height: 173px;
  }

  .submit-info {
    color: $secondaryTextColor;
    font-size: 12px;
    line-height: 14.1px;
    margin-bottom: 40px;
  }

  .hidden {
    display: none;
  }

  .confirm-header {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
  }

  a {
    color: $linkColor;
    text-decoration: underline;
    cursor: pointer;
  }

  .numbered-label {
    display: flex;
    align-items: start;
    gap: 5px;
  }
}
